
body{
    background-color: rgb(20, 124, 216);
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-align: center;
  
    
}

#header {
    color: #ffffff; 
    margin: auto;
    font-size: 30px;
    max-width: 600px;
    text-shadow: 5px 5px 5px  #313131;
    }

    #loginForm {
        background-color: rgb(57, 156, 65);
        color: white;
        border: groove 5px;
        border-radius: 0px 0px 30px 30px;
        max-width: 600px;
        margin: auto;
    
    }


   #signupForm { 
       background-color: rgb(57, 156, 65);
    color: white;
    border: groove 5px;
    border-radius: 0px 0px 30px 30px;
    max-width: 600px;
    margin: auto;

   }

    #check {
        margin: auto;

    }

   p {
       color: black;
   }

