
body{
    
    background-color: rgb(20, 124, 216);
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-align: center;
 
} 
  


p {
    color: black;
    margin: 20px 20px 10px 10px;
}


#header {
    color: #ffffff; 
    margin: auto;
    font-size: 30px;
    max-width: 600px;
    text-shadow: 5px 5px 5px  #313131;
    }

    #loginForm {
        background-color: rgb(57, 156, 65);
        color: white;
        border: groove 5px;
        border-radius: 0px 0px 30px 30px;
        max-width: 600px;
        margin: auto;
    
    }

    #loginBtn{
        border: outset;
        width: 70px;
        height: 30px;
        border-color: rgb(255, 255, 255);
        border-radius: 10px;
        color: rgb(255, 255, 255);
        background: rgb(20, 124, 216);
    }
    #signupBtn {
        border: outset;
        margin: 0px 10px 20px 15px;
        width: 70px;
        height: 30px;
        border-color: rgb(255, 255, 255);
        border-radius: 10px 10px 10px 0px;
        color: rgb(255, 255, 255);
        background: rgb(20, 124, 216);
    }
    #nameInp {
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }

    #passInp {
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }

    #emailInp {
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }



   #signupForm { 
       background-color: rgb(57, 156, 65);
    color: white;
    border: groove 5px;
    border-radius: 0px 0px 30px 30px;
    max-width: 600px;
    margin: auto;

   }

   #userView {

        display: grid;
    }

   #userSettings {

       display: grid;
   }



  
